
@media screen and (max-width : 425px) {
  .calculator {
    width: device-width;
  }
}

body {
  background-color: white;
}

p {
  margin: 0;
  position: relative;
  left: 5%;
}

.calculator {
  position: relative;
  margin: 1em auto;
  padding: 1em 0;
  display: block-inline;
  width: 600px;
  background-color: #666c75;
  border-radius: 25px;
  font-family: 'Oxygen';
}

.calc-row {
  text-align: center;
}

.calc-expre div.screen, .calc-row div.screen{
  display: table;
  width: 90%;
  background-color: white;
  text-align: right;
  font-size: 2em;
  min-height: 1.2em;
  margin-left: 0.5em;
  padding-right: 0.5em;
  border: 1px solid #888;
  color: #333;
}

.calc-expre div, .calc-row div {
  text-align: center;
  display: inline-block;
  font-weight: bold;
  border: 1px solid #555;
  background-color: #eee;
  padding: 10px 0;
  margin: 7px 5px;
  border-radius: 15px;
  width: 125px;
}

